@import "../main";

#cover {
  max-height: 383px;
  object-fit: cover;
}

section {
  border-radius: 40px 40px 0 0;
  padding: 1em 1em 2em 1em;
  background-color: #f6f6f6;
  position: relative;
  max-width: 1055px;
  margin: 0 auto;
  margin-top: -40px;
}

.menu {

  &-header {

    max-width: 634px;
    padding: 1em 1em 1em 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width:$tablet) {
      justify-content: center;
      padding: 1.5em 1em 1.5em 0;
    }

    h1 {
      font-family: Shrikhand;
      font-size: 28px;
      font-style: italic;
      font-weight: 400;
      line-height: 41px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0 1em 0 0.2em;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;

    a {
      padding: 0.9em 2.5em;
      margin-top: 2em;
      @include cta-button($ohmypink, $ohmypurple);
    }
  }

  &-content {
    max-width: 634px;
    margin: 0 auto;

    h2 {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      position: relative;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;

    }

    h2:after {
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: $ohmygreen;
      position: absolute;
      left: 0;
      bottom: -5px;
    }

    &-item {
      display: flex;
      background-color: #fff;
      border-radius: 20px;
      margin-bottom: 1em;
      position: relative;
      overflow: hidden;
      animation-duration: 0.6s;
      animation-name: itemAppear;
      animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
      animation-fill-mode: both;
      transform: scale(0);
      max-width: 100%;
      box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;

      &:hover {
        cursor: pointer;

        .menu-content-item-check {
          margin-right: 0;
        }
      }

      &-text {
        padding: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        h3 {
          font-weight: 500;
          font-size: 1.2rem;
          margin: 0;
          @include ellipsis
        }

        p {

          font-weight: 300;
          font-size: 1rem;
          margin: 0;
          @include ellipsis
        }
      }

      &-price {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        padding-right: 1em;
        font-weight: 500;
      }

      &-check {
        display: flex;
        place-items: center;
        background-color: #99e2d0;
        margin-right: -4em;
        border-radius: 0px 20px 20px 0px;
        width: 4em;
        transition: all 0.5s;
        justify-content: center;


        i {
          display: grid;
          place-items: center;
          color: #99e2d0;
          width: 24px;
          border-radius: 32px;
          background-color: white;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}