@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Shrikhand:300,400,500,600,700");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  width: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

.delay-1 {
  animation-delay: 0s;
}

.delay-2 {
  animation-delay: 0.1s;
}

.delay-3 {
  animation-delay: 0.2s;
}

.delay-4 {
  animation-delay: 0.3s;
}

.delay-5 {
  animation-delay: 0.4s;
}

.delay-6 {
  animation-delay: 0.5s;
}

.delay-7 {
  animation-delay: 0.6s;
}

.delay-8 {
  animation-delay: 0.7s;
}

.delay-9 {
  animation-delay: 0.8s;
}

@keyframes unlockOverflow {
  100% {
    overflow: visible;
  }
}
@keyframes loaderAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-top: 4px solid #ff79da;
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
    border-top: 4px solid #9356dc;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-top: 4px solid #ff79da;
    opacity: 0;
  }
}
@keyframes contentFadeIn {
  0% {
    opacity: 0;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    background-color: white;
  }
}
.loader {
  position: fixed;
  z-index: 50;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 4px solid transparent;
  border-top: 4px solid #ff79da;
  border-radius: 50%;
  animation: loaderAnimation 2.5s linear forwards;
}

.content {
  background-color: white;
  overflow: hidden;
  position: relative;
  height: 100vh;
  opacity: 0;
  animation: contentFadeIn 4.5s cubic-bezier(0.25, 0.46, 0.65, 1) forwards, unlockOverflow 4s ease-in-out forwards;
  top: 0;
  bottom: 0;
  width: 100%;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in {
  opacity: 0.5;
  transform: translateY(80px);
  animation: fadeInAnimation 2.5s ease-in-out forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.favourite {
  position: relative;
  width: 26px;
  height: 26px;
  text-decoration: none;
}
.favourite i {
  color: black;
  font-size: 26px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: opacity 0.75s ease;
}
.favourite i::before {
  color: black;
  transition: color 0.75s;
}
.favourite:hover i::before {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
}
.favourite .fas {
  opacity: 0;
}
.favourite:hover .fas {
  opacity: 1;
}
.favourite:hover .far {
  opacity: 0;
}

.badge-new::after {
  content: "Nouveau";
  position: absolute;
  top: 5%;
  right: 5%;
  font-weight: 700;
  padding: 10px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #008766;
}

.gray-background {
  background-color: #f6f6f6;
}

header {
  text-align: center;
}
header nav {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  transition: all 300ms ease;
  box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
}
@media (min-width: 1024px) {
  header nav {
    height: 96px;
    box-shadow: unset;
  }
}
header nav .action-btn {
  display: none;
  position: absolute;
  width: 30px;
  color: black;
  height: 30px;
  top: 17px;
  left: 17px;
  transition: all 300ms ease;
}
@media (min-width: 320px) {
  header nav .action-btn {
    display: unset;
  }
}
@media (min-width: 1024px) {
  header nav .action-btn {
    top: 33px;
  }
}
header nav .action-btn i {
  font-size: 19px;
  vertical-align: -webkit-baseline-middle;
}
header nav .logo img {
  height: 36px;
}
header .location {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  height: 50px;
  font-weight: 500;
  line-height: 18.75px;
  position: relative;
  z-index: 99;
  transition: all 300ms ease;
  box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
}
@media (min-width: 1024px) {
  header .location {
    box-shadow: unset;
  }
}
header .location i {
  width: 25px;
  color: #474747;
}

footer {
  background-color: #353535;
  width: 100%;
  bottom: 0;
}
@media (min-width: 1024px) {
  footer {
    height: 114px;
  }
}
footer .footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
}
@media (min-width: 1024px) {
  footer .footer {
    flex-direction: row-reverse;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  footer .footer .footer-logo {
    display: flex;
  }
}
footer .footer .footer-logo img {
  filter: invert(1);
  width: 140px;
  padding: 0 0 10px 0;
}
@media (min-width: 1024px) {
  footer .footer .footer-logo img {
    margin-top: auto;
    padding: 0;
  }
}
footer .footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer .footer .footer-links {
    flex-direction: row;
    gap: 16px;
    margin-right: 2em;
    align-items: flex-end;
  }
}
footer .footer .footer-links a {
  color: white;
  font: 500 16px "Roboto", sans-serif;
  text-decoration: none;
  line-height: 18.75px;
}
footer .footer .footer-links a i {
  width: 25px;
}

#cover {
  max-height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  border-radius: 40px 40px 0 0;
  padding: 1em 1em 2em 1em;
  background-color: #f6f6f6;
  position: relative;
  max-width: 1055px;
  margin: 0 auto;
  margin-top: -40px;
}

.menu-header {
  max-width: 634px;
  padding: 1em 1em 1em 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .menu-header {
    justify-content: center;
    padding: 1.5em 1em 1.5em 0;
  }
}
.menu-header h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 1em 0 0.2em;
}
.menu-footer {
  display: flex;
  justify-content: center;
}
.menu-footer a {
  padding: 0.9em 2.5em;
  margin-top: 2em;
  line-height: 18.75px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
  max-width: 220px;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 300ms ease-out;
}
.menu-footer a:hover {
  background: linear-gradient(180deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 1px 8px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.menu-content {
  max-width: 634px;
  margin: 0 auto;
}
.menu-content h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.menu-content h2:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.menu-content-item {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  animation-duration: 0.6s;
  animation-name: itemAppear;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
}
.menu-content-item:hover {
  cursor: pointer;
}
.menu-content-item:hover .menu-content-item-check {
  margin-right: 0;
}
.menu-content-item-text {
  padding: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-content-item-text h3 {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-content-item-text p {
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-content-item-price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding-right: 1em;
  font-weight: 500;
}
.menu-content-item-check {
  display: flex;
  place-items: center;
  background-color: #99e2d0;
  margin-right: -4em;
  border-radius: 0px 20px 20px 0px;
  width: 4em;
  transition: all 0.5s;
  justify-content: center;
}
.menu-content-item-check i {
  display: grid;
  place-items: center;
  color: #99e2d0;
  width: 24px;
  border-radius: 32px;
  background-color: white;
  aspect-ratio: 1/1;
}/*# sourceMappingURL=restaurant.css.map */