.gray-background {
  background-color: $ohmylightgrey;
}

header {
  text-align: center;

  nav {
    display: flex;
    height: 63px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    transition: all 300ms ease;
    @include shadow;

    @media (min-width: $desktop) {
      height: 96px;
      box-shadow: unset;
    }
    .logo img {
      height: 36px;
    }
  }

  .location {
    display: flex;
    justify-content: center;
    background-color: $ohmylightergrey;
    color: $ohmygrey;
    height: 50px;
    font-weight: 500;
    line-height: 18.75px;
    position: relative;
    z-index: 99;
    transition: all 300ms ease;
    @include shadow;

    @media (min-width: $desktop) {
      box-shadow: unset;
    }
    i {
      width: 25px;
      color: #474747;
    }
  }
}

