.gray-background {
  background-color: $ohmylightgrey;
}

header {
  text-align: center;

  nav {
    display: flex;
    height: 63px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    @include shadow;

    @media (min-width: 1024px) {
      height: 96px;
    }
    .logo img {
      height: 36px;
    }
  }

  .location {
    display: flex;
    justify-content: center;
    background-color: $ohmylightergrey;
    color: $ohmygrey;
    height: 50px;
    font-weight: 500;
    line-height: 18.75px;
    position: relative;
    z-index: 99;
    @include shadow;
    
    i {
      width: 25px;
      color: #474747;
    }
  }
}

