@import "nav";

section {
    padding: 20px;

    &.menu {
        &-header {
            h1 {
                font-family: shrikhand, cursive;
                font-size: calc(24px + (40 - 24) * ((100vw - 300px) / (1600 - 300)));
                font-weight: 700;
                margin-right: auto;
            }
        }
        &-footer {
            display: flex;
            justify-content: center;

            a {
                @include cta-button($ohmypink, $ohmypurple);
              }
        }
    }
}