@import "nav";

img {
  width: -webkit-fill-available;
}

@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes itemAppear {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1);
  }
}



$fade-in-duration: 2.5s; // Set the animation duration
$initial-opacity: 0.5; // Initial opacity
$final-opacity: 1; // Final opacity
$initial-translate: 80px; // Increased initial translation for more visibility
$final-translate: 0; // Final translation

.fade-in {
  opacity: $initial-opacity;
  transform: translateY($initial-translate);
  animation: fadeInAnimation $fade-in-duration ease-in-out forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: $initial-opacity;
      transform: translateY($initial-translate);
    }

    100% {
      opacity: $final-opacity;
      transform: translateY($final-translate);
    }
  }
}

#cover {
  max-height: 383px;
  object-fit: cover;
}

section {
  border-radius: 2rem 2rem 0 0;
  padding: 1em 1em 2em 1em;
  background-color: $ohmylightgrey;
  position: relative;
  max-width: 1055px;
  margin: 0 auto;
  margin-top: -5%;

}

.menu {


  &-header {

    max-width: 634px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media (min-width: 800px) {
      justify-content: center;
    }

    h1 {
      font-family: shrikhand, cursive;
      font-size: 2rem;
      font-weight: 700;
      margin: 0 3em 0 0;

      @media (max-width: 650px) {
        margin: 0 1em 0 0;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: center;

    a {
      @include cta-button($ohmypink, $ohmypurple);
    }
  }

  &-content {
    max-width: 634px;
    margin: 0 auto;

    h2 {
      padding-top: 32px;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      position: relative;
      font-weight: 300;
    }

    h2:after {
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: $ohmygreen;
      position: absolute;
      left: 0;
      bottom: -5px;
    }

    &-item {
      display: flex;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
      margin-bottom: 2em;
      position: relative;
      overflow: hidden;

      animation: itemAppear .6s;
      animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
      animation-fill-mode: both;
      transform: scale(0);
      max-width: 100%;

      &:hover {
        cursor: pointer;

        .menu-content-item-check {
          margin-right: 0;

          i {
            animation: spin 0.75s ease;
          }
        }
      }

      &-text {
        padding: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        h3 {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 1.2rem;
          margin: 0;
          @include ellipsis
        }

        p {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 1rem;
          margin: 0;
          @include ellipsis
        }
      }

      &-price {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        padding-right: 1em;
      }

      &-check {
        display: flex;
        place-items: center;
        background-color: #99e2d0;
        margin-right: -4em;
        border-radius: 0px 20px 20px 0px;
        width: 4em;
        transition: all 0.5s;
        justify-content: center;


        i {
          display: grid;
          place-items: center;
          color: #99e2d0;
          width: 24px;
          border-radius: 32px;
          background-color: white;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

@for $i from 1 through 9 {
  .delay-#{$i} {
    animation-delay: ($i - 1) * 0.1s;
  }
}