@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("http://fonts.googleapis.com/css?family=Shrikhand");
.favourite {
  position: relative;
}
.favourite a {
  text-decoration: none;
  position: relative;
  top: -1em;
}
.favourite i {
  color: black;
  font-size: 26px;
  transition-duration: 0.75s;
  position: relative;
}
.favourite .fas {
  color: transparent;
  opacity: 0;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
}
.favourite:hover .fas {
  opacity: 1;
}
.favourite:hover .far {
  opacity: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.gray-background {
  background-color: #f6f6f6;
}

header {
  text-align: center;
}
header nav {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header nav .logo img {
  height: 36px;
}
header .location {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
  height: 50px;
}

footer {
  width: 100%;
  bottom: 0;
}
footer .footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
}
footer .footer .footer-logo img {
  filter: invert(1);
  height: 27px;
  width: auto;
}
footer .footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer .footer-links a {
  color: white;
  font: 400 14px/1.5em "Roboto", sans-serif;
  text-decoration: none;
}

img {
  width: -webkit-fill-available;
}

@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in {
  opacity: 0.5;
  transform: translateY(80px);
  animation: fadeInAnimation 2.5s ease-in-out forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#cover {
  max-height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  border-radius: 2rem 2rem 0 0;
  padding: 1em 1em 2em 1em;
  background-color: #f6f6f6;
  position: relative;
  max-width: 1055px;
  margin: 0 auto;
  margin-top: -5%;
}

.menu-header {
  display: flex;
  align-items: center;
}
@media (min-width: 800px) {
  .menu-header {
    justify-content: center;
  }
}
.menu-header h1 {
  font-family: shrikhand, cursive;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}
@media (min-width: 800px) {
  .menu-header h1 {
    margin: 0 1em 0 0;
  }
}
.menu-footer {
  display: flex;
  justify-content: center;
}
.menu-footer a {
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 1px 11px 14px 0px rgba(130, 130, 130, 0.4);
  padding: 1em 3em;
  color: #FFF;
  text-decoration: none;
  border-radius: 25px;
  transition: 300ms;
}
.menu-footer a:hover {
  background: linear-gradient(180deg, #ffc6ef 0%, #bc95e9 100%);
  box-shadow: 1px 13px 17px 0px rgba(109, 109, 109, 0.7);
}
.menu-content {
  max-width: 634px;
  margin: 0 auto;
}
.menu-content h2 {
  padding-top: 32px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
}
.menu-content h2:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.menu-content-item {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menu-content-item :hover {
  cursor: pointer;
}
.menu-content-item-text {
  padding: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-content-item-text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-content-item-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-content-item-price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding-right: 1em;
}
.menu-content-item-check {
  display: flex;
  place-items: center;
  background-color: #99e2d0;
  margin-right: -4em;
  border-radius: 0px 20px 20px 0px;
  width: 4em;
  transition: all 0.5s;
  justify-content: center;
}
.menu-content-item-check i {
  display: grid;
  place-items: center;
  color: #99e2d0;
  width: 24px;
  border-radius: 32px;
  background-color: white;
  aspect-ratio: 1/1;
}

.menu-content-item:hover .menu-content-item-check {
  margin-right: 0;
}
.menu-content-item:hover .menu-content-item-check i {
  animation: spin 0.75s ease;
}

.delay-1 {
  animation-delay: 0s;
}

.delay-2 {
  animation-delay: 0.1s;
}

.delay-3 {
  animation-delay: 0.2s;
}

.delay-4 {
  animation-delay: 0.3s;
}

.delay-5 {
  animation-delay: 0.4s;
}

.delay-6 {
  animation-delay: 0.5s;
}

.delay-7 {
  animation-delay: 0.6s;
}

.delay-8 {
  animation-delay: 0.7s;
}

.delay-9 {
  animation-delay: 0.8s;
}/*# sourceMappingURL=restaurant.css.map */