@import "nav";

img {
    width: -webkit-fill-available;
}

$fade-in-duration: 2.5s; // Set the animation duration
$initial-opacity: 0.5; // Initial opacity
$final-opacity: 1; // Final opacity
$initial-translate: 80px; // Increased initial translation for more visibility
$final-translate: 0; // Final translation

.fade-in {
  opacity: $initial-opacity;
  transform: translateY($initial-translate);
  animation: fadeInAnimation $fade-in-duration ease-in-out forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: $initial-opacity;
      transform: translateY($initial-translate);
    }
    100% {
      opacity: $final-opacity;
      transform: translateY($final-translate);
    }
  }
}

section {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    padding: 20px;
    background-color: $ohmylightgrey;
    position: relative;

}
    .menu {
        &-header {
            h1 {
                font-family: shrikhand, cursive;
                font-size: 1.5rem;
                font-weight: 700;
                margin: 0 auto 0 0;
            }
        }
        &-footer {
            display: flex;
            justify-content: center;

            a {
                @include cta-button($ohmypink, $ohmypurple);
              }
        }
        &-content {
            h2:after {
                content: "";
                width: 3rem;
                height: 0.25rem;
                background-color: $ohmyblue;
                position: absolute;
                left: 0;
                bottom: 0;
            }
              &-item {
                background-color: #fff;
                border-radius: 10px;
                width: 335px;
                box-shadow: -2px 5px 16px -4px rgba(0, 0, 0, 0.301);
                margin-bottom: 2em;
                position: relative;
                      }

    }
}

