$ohmygreen : #99E2D0;
$ohmydarkgreen : #008766;
$ohmyblue : #89C8FA;
$ohmydarkblue : #003A68;
$ohmypurple : #9356DC;
$ohmygrey : #353535;

@mixin shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav {
    height: 63px;
    @include shadow;
}


