// Color Variables
$ohmygreen: #99e2d0;
$ohmydarkgreen: #008766;
$ohmyblue: #89c8fa;
$ohmydarkblue: #003a68;
$ohmypink: #ff79da;
$ohmypurple: #9356dc;
$ohmylightpurple: #f5edff;
$ohmygrey: #353535;
$ohmylightgrey: #f6f6f6;
$ohmylightergrey: #eaeaea;